<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.mapper.ExaminationMapper">
	<select id="selectByStateAndClazzId" resultType="Examination">
		select id,name,subject_num,begin_time,state,clazz_id,teacher_id,category
		from examination
		where clazz_id=#{clazzId} 
		and state=#{state}
	</select>
	<update id="updateExaminationStateByClazzId">
		update examination set state=2 where clazz_id=#{clazzId} and state=1;
	</update>
	
	<insert id="insertExamination">
		insert into examination(name,subject_num, begin_time, state, clazz_id, teacher_id,category)
		values(#{name},#{subjectNum},#{beginTime},#{state},#{clazzId},#{teacherId}, #{category})
	</insert>
	
	<select id="selectCurrentExaminationByStuId" resultType="Examination">
		select  id,   name,      clazz_id,    teacher_id,     subject_num,    begin_time,  state, category
		from examination
		where clazz_id = (select clazz_id from stu where id=#{stuId})
		and state = 1
	</select>
</mapper>








